In [1]:
# Things to import
import pandas as pd
import numpy as np
import requests
import time
import csv
import requests
import json
from pprint import pprint
# Import API key
from api_key import api_key
headers = {'X-CoinAPI-Key' : api_key}

# Bitcoin (BTC)

In [2]:
# #BitCoin started trading in 2009 and is traded as BTC
# btc_url = 'https://rest.coinapi.io/v1/ohlcv/BTC/USD/history?period_id=3MTH&time_start=2009-01-01T00:00:00'
# btc_response = requests.get(btc_url, headers=headers).json()
# btc_api_df = pd.read_json(json.dumps(btc_response))

btc_url = 'https://rest.coinapi.io/v1/ohlcv/BTC/USD/history?period_id=3MTH&time_start=2009-01-01T00:00:00'
btc_response = requests.get(btc_url, headers=headers).json()
btc_api_df = pd.read_json(json.dumps(btc_response))
# btc_api_df.head()

In [3]:
btc_api_df=btc_api_df.rename(columns={"trades_count":"BTC_trades", "price_close": "BTC_price_close", 
                                      "volume_traded":"BTC_trade_volume"})
btc_api_df.head()

,BTC_price_close,price_high,price_low,price_open,time_close,time_open,time_period_end,time_period_start,BTC_trades,BTC_trade_volume
0,0.06190,0.1750,0.03211,0.04951,2010-09-30T22:49:52.0000000Z,2010-07-17T23:09:17.0000000Z,2010-10-01T00:00:00.0000000Z,2010-07-01T00:00:00.0000000Z,2665,4.704097e+05
1,0.30000,0.5000,0.01000,0.06189,2010-12-31T21:36:52.0000000Z,2010-10-01T02:56:13.0000000Z,2011-01-01T00:00:00.0000000Z,2010-10-01T00:00:00.0000000Z,6092,2.195828e+06
2,0.78461,1.1000,0.28900,0.29200,2011-03-31T23:44:15.0000000Z,2011-01-01T01:16:13.0000000Z,2011-04-01T00:00:00.0000000Z,2011-01-01T00:00:00.0000000Z,8406,9.883464e+05
3,16.10096,31.9099,0.56190,0.77800,2011-06-30T23:59:41.0000000Z,2011-04-01T00:28:54.0000000Z,2011-07-01T00:00:00.0000000Z,2011-04-01T00:00:00.0000000Z,205917,3.173722e+06
4,5.14009,16.7400,4.18000,16.10098,2011-09-30T23:59:04.0000000Z,2011-07-01T00:00:59.0000000Z,2011-10-01T00:00:00.0000000Z,2011-07-01T00:00:00.0000000Z,536900,3.814916e+06

In [4]:
btc_api_df["CLEAN_TIME"] = btc_api_df["time_period_start"].map(lambda x: str(x)[:-21])

btc_api_df["CLEAN_TIME"] = btc_api_df["CLEAN_TIME"].str.replace('-01',"Q1")
btc_api_df["CLEAN_TIME"] = btc_api_df["CLEAN_TIME"].str.replace('-04',"Q2")
btc_api_df["CLEAN_TIME"] = btc_api_df["CLEAN_TIME"].str.replace('-07',"Q3")
btc_api_df["CLEAN_TIME"] = btc_api_df["CLEAN_TIME"].str.replace('-10',"Q4")

btc_api_df["CLEAN_TIME"] = btc_api_df["CLEAN_TIME"].map(lambda x: str(x)[2:])

btc_api_df["year"]=btc_api_df["CLEAN_TIME"]
btc_api_df["year"]=btc_api_df["year"].map(lambda x: str(x)[:-2])

btc_api_df["Quarter"]=btc_api_df["CLEAN_TIME"].map(lambda x: str(x)[2:])

btc_api_df["Year_quarter"]=(btc_api_df["year"])+"'"+(btc_api_df["Quarter"])
btc_api_quarter=btc_api_df[["BTC_price_close", "Year_quarter", "BTC_trades","BTC_trade_volume"]]
btc_api_quarter.head()

   BTC_price_close Year_quarter  BTC_trades  BTC_trade_volume
0          0.06190        10'Q3        2665      4.704097e+05
1          0.30000        10'Q4        6092      2.195828e+06
2          0.78461        11'Q1        8406      9.883464e+05
3         16.10096        11'Q2      205917      3.173722e+06
4          5.14009        11'Q3      536900      3.814916e+06

# Ripple (XRP)

In [5]:
#Ripple is trading as XRP. Initial release in 2012, stable release in 2018. There is a gap b/w 2014 and 2017 in the data
xrp_url = 'https://rest.coinapi.io/v1/ohlcv/XRP/USD/history?period_id=3MTH&time_start=2012-01-01T00:00:00'
xrp_response = requests.get(xrp_url, headers=headers).json()
xrp_api_df = pd.read_json(json.dumps(xrp_response))

In [6]:
xrp_api_df=xrp_api_df.rename(columns={"trades_count":"XRP_trades", "price_close": "XRP_price_close", 
                                      "volume_traded":"XRP_trade_volume"})
xrp_api_df.head()

,XRP_price_close,price_high,price_low,price_open,time_close,time_open,time_period_end,time_period_start,XRP_trades,XRP_trade_volume
0,0.003816,0.003333,0.007409,0.006216,2014-06-30T22:57:59.1970000Z,2014-05-07T20:48:54.4970000Z,2014-07-01T00:00:00.0000000Z,2014-04-01T00:00:00.0000000Z,230,4.624811e+02
1,0.004998,0.002000,0.006557,0.003704,2014-08-21T15:05:38.5170000Z,2014-07-01T06:00:21.7970000Z,2014-10-01T00:00:00.0000000Z,2014-07-01T00:00:00.0000000Z,57,2.119292e+02
2,0.021400,0.022540,0.005000,0.006450,2017-03-31T23:59:53.0000000Z,2017-01-25T20:00:14.0000000Z,2017-04-01T00:00:00.0000000Z,2017-01-01T00:00:00.0000000Z,26880,6.922213e+08
3,0.248690,0.398870,0.007500,0.021400,2017-06-30T23:59:52.0000000Z,2017-04-01T00:00:50.0000000Z,2017-07-01T00:00:00.0000000Z,2017-04-01T00:00:00.0000000Z,709649,2.726098e+09
4,0.199030,0.299900,0.126600,0.246792,2017-09-30T23:59:58.6520000Z,2017-07-01T00:00:29.1650000Z,2017-10-01T00:00:00.0000000Z,2017-07-01T00:00:00.0000000Z,1490365,3.518229e+09

In [7]:
xrp_api_df["CLEAN_TIME"] = xrp_api_df["time_period_start"].map(lambda x: str(x)[:-21])

xrp_api_df["CLEAN_TIME"] = xrp_api_df["CLEAN_TIME"].str.replace('-01',"Q1")
xrp_api_df["CLEAN_TIME"] = xrp_api_df["CLEAN_TIME"].str.replace('-04',"Q2")
xrp_api_df["CLEAN_TIME"] = xrp_api_df["CLEAN_TIME"].str.replace('-07',"Q3")
xrp_api_df["CLEAN_TIME"] = xrp_api_df["CLEAN_TIME"].str.replace('-10',"Q4")

xrp_api_df["CLEAN_TIME"] = xrp_api_df["CLEAN_TIME"].map(lambda x: str(x)[2:])

xrp_api_df["year"]=xrp_api_df["CLEAN_TIME"]
xrp_api_df["year"]=xrp_api_df["year"].map(lambda x: str(x)[:-2])

xrp_api_df["Quarter"]=xrp_api_df["CLEAN_TIME"].map(lambda x: str(x)[2:])

xrp_api_df["Year_quarter"]=(xrp_api_df["year"])+"'"+(xrp_api_df["Quarter"])
xrp_api_quarter=xrp_api_df[["XRP_price_close", "Year_quarter", "XRP_trades","XRP_trade_volume"]]
xrp_api_quarter.head()

   XRP_price_close Year_quarter  XRP_trades  XRP_trade_volume
0         0.003816        14'Q2         230      4.624811e+02
1         0.004998        14'Q3          57      2.119292e+02
2         0.021400        17'Q1       26880      6.922213e+08
3         0.248690        17'Q2      709649      2.726098e+09
4         0.199030        17'Q3     1490365      3.518229e+09

# Ethereum (ETH)

In [8]:
#Ethereum started trading in mid-2015 and is trading as ETH
eth_url = 'https://rest.coinapi.io/v1/ohlcv/ETH/USD/history?period_id=3MTH&time_start=2015-07-01T00:00:00'
eth_response = requests.get(eth_url, headers=headers).json()
eth_api_df = pd.read_json(json.dumps(eth_response))

In [9]:
eth_api_df=eth_api_df.rename(columns={"trades_count":"ETH_trades", "price_close": "ETH_price_close", 
                                      "volume_traded":"ETH_trade_volume"})
eth_api_df.head()

,ETH_price_close,price_high,price_low,price_open,time_close,time_open,time_period_end,time_period_start,ETH_trades,ETH_trade_volume
0,11.386,15.074,8.338,10.297,2016-03-31T23:30:40.0000000Z,2016-03-09T16:04:35.0000000Z,2016-04-01T00:00:00.0000000Z,2016-01-01T00:00:00.0000000Z,24237,2.805613e+05
1,12.402,22.000,6.855,11.391,2016-06-30T23:58:36.0000000Z,2016-04-01T00:10:34.0000000Z,2016-07-01T00:00:00.0000000Z,2016-04-01T00:00:00.0000000Z,377311,9.545457e+06
2,13.230,15.400,9.000,12.479,2016-09-30T23:59:17.1310000Z,2016-07-01T00:02:49.0000000Z,2016-10-01T00:00:00.0000000Z,2016-07-01T00:00:00.0000000Z,534776,1.124118e+07
3,8.160,18.000,4.500,13.230,2016-12-31T23:58:01.4370000Z,2016-10-01T00:00:07.3790000Z,2017-01-01T00:00:00.0000000Z,2016-10-01T00:00:00.0000000Z,617786,8.841577e+06
4,49.724,58.989,6.000,8.160,2017-03-31T23:59:58.0000000Z,2017-01-01T00:00:01.4630000Z,2017-04-01T00:00:00.0000000Z,2017-01-01T00:00:00.0000000Z,1873590,2.977598e+07

In [10]:
eth_api_df["CLEAN_TIME"] = eth_api_df["time_period_start"].map(lambda x: str(x)[:-21])

eth_api_df["CLEAN_TIME"] = eth_api_df["CLEAN_TIME"].str.replace('-01',"Q1")
eth_api_df["CLEAN_TIME"] = eth_api_df["CLEAN_TIME"].str.replace('-04',"Q2")
eth_api_df["CLEAN_TIME"] = eth_api_df["CLEAN_TIME"].str.replace('-07',"Q3")
eth_api_df["CLEAN_TIME"] = eth_api_df["CLEAN_TIME"].str.replace('-10',"Q4")

eth_api_df["CLEAN_TIME"] = eth_api_df["CLEAN_TIME"].map(lambda x: str(x)[2:])

eth_api_df["year"]=eth_api_df["CLEAN_TIME"]
eth_api_df["year"]=eth_api_df["year"].map(lambda x: str(x)[:-2])

eth_api_df["Quarter"]=eth_api_df["CLEAN_TIME"].map(lambda x: str(x)[2:])

eth_api_df["Year_quarter"]=(eth_api_df["year"])+"'"+(eth_api_df["Quarter"])
eth_api_quarter=eth_api_df[["ETH_price_close", "Year_quarter", "ETH_trades","ETH_trade_volume"]]
eth_api_quarter.head()

   ETH_price_close Year_quarter  ETH_trades  ETH_trade_volume
0           11.386        16'Q1       24237      2.805613e+05
1           12.402        16'Q2      377311      9.545457e+06
2           13.230        16'Q3      534776      1.124118e+07
3            8.160        16'Q4      617786      8.841577e+06
4           49.724        17'Q1     1873590      2.977598e+07

# Litecoin (LTC)

In [11]:
ltc_url = 'https://rest.coinapi.io/v1/ohlcv/LTC/USD/history?period_id=3MTH&time_start=2010-01-01T00:00:00'
ltc_response = requests.get(ltc_url, headers=headers).json()
ltc_api_df = pd.read_json(json.dumps(response))
ltc_api_df.head()

NameError: name 'response' is not defined

In [ ]:
ltc_api_df=ltc_api_df.rename(columns={"trades_count":"LTC_trades", "price_close": "LTC_price_close", 
                                      "volume_traded":"LTC_trade_volume"})
ltc_api_df.head()

In [ ]:
ltc_api_df["CLEAN_TIME"] = ltc_api_df["time_period_start"].map(lambda x: str(x)[:-21])

ltc_api_df["CLEAN_TIME"] = ltc_api_df["CLEAN_TIME"].str.replace('-01',"Q1")
ltc_api_df["CLEAN_TIME"] = ltc_api_df["CLEAN_TIME"].str.replace('-04',"Q2")
ltc_api_df["CLEAN_TIME"] = ltc_api_df["CLEAN_TIME"].str.replace('-07',"Q3")
ltc_api_df["CLEAN_TIME"] = ltc_api_df["CLEAN_TIME"].str.replace('-10',"Q4")

ltc_api_df["CLEAN_TIME"] = ltc_api_df["CLEAN_TIME"].map(lambda x: str(x)[2:])

ltc_api_df["year"]=ltc_api_df["CLEAN_TIME"]
ltc_api_df["year"]=ltc_api_df["year"].map(lambda x: str(x)[:-2])

ltc_api_df["Quarter"]=ltc_api_df["CLEAN_TIME"].map(lambda x: str(x)[2:])

ltc_api_df["Year_quarter"]=(ltc_api_df["year"])+"'"+(ltc_api_df["Quarter"])
ltc_api_quarter=ltc_api_df[["LTC_price_close", "Year_quarter", "LTC_trades","LTC_trade_volume"]]
ltc_api_quarter.head()

# formula for testing coins:

In [ ]:
def coin (coin):
    url = (f'https://rest.coinapi.io/v1/ohlcv/{coin}/USD/history?period_id=3MTH&time_start=2010-01-01T00:00:00')
    response = requests.get(url, headers=headers).json()
    api_df = pd.read_json(json.dumps(response))

    coin_volume_label = coin + "_trade_volume"
    coin_trade_label = coin + "_trade_count"
    coin_price_label = coin + "_price_close"
    api_df=api_df.rename(columns={"trades_count":coin_trade_label, "price_close": coin_price_label, 
                                          "volume_traded":coin_volume_label})

    api_df["CLEAN_TIME"] = api_df["time_period_start"].map(lambda x: str(x)[:-21])

    api_df["CLEAN_TIME"] = api_df["CLEAN_TIME"].str.replace('-01',"Q1")
    api_df["CLEAN_TIME"] = api_df["CLEAN_TIME"].str.replace('-04',"Q2")
    api_df["CLEAN_TIME"] = api_df["CLEAN_TIME"].str.replace('-07',"Q3")
    api_df["CLEAN_TIME"] = api_df["CLEAN_TIME"].str.replace('-10',"Q4")

    api_df["CLEAN_TIME"] = api_df["CLEAN_TIME"].map(lambda x: str(x)[2:])

    api_df["year"]=api_df["CLEAN_TIME"]
    api_df["year"]=api_df["year"].map(lambda x: str(x)[:-2])

    api_df["Quarter"]=api_df["CLEAN_TIME"].map(lambda x: str(x)[2:])

    api_df["Year_quarter"]=(api_df["year"])+"'"+(api_df["Quarter"])
    api_quarter=api_df[[coin_price_label, "Year_quarter", coin_trade_label,coin_volume_label]]
    return api_quarter

In [ ]:
coin("BTC").head()