In [1]:
import pandas as pd

In [ ]:
csv_file = "./ETLProject/btc-API.csv"
csv_df = pd.read_csv(csv_file)
csv_df.head()

In [ ]:
csv_df["CLEAN_TIME"] = csv_df["time_period_end"].map(lambda x: str(x)[:-21])
csv_df.head()

In [ ]:
csv_df["CLEAN_TIME"] = csv_df["CLEAN_TIME"].str.replace('-04',"Q1'")
csv_df["CLEAN_TIME"] = csv_df["CLEAN_TIME"].str.replace('-07',"Q2'")
csv_df["CLEAN_TIME"] = csv_df["CLEAN_TIME"].str.replace('-10',"Q3'")
csv_df["CLEAN_TIME"] = csv_df["CLEAN_TIME"].str.replace('-01',"Q4'")
csv_df.head()

In [ ]:
csv_df["CLEAN_TIME"] = csv_df["CLEAN_TIME"].map(lambda x: str(x)[2:])

In [ ]:
csv_df.head()

In [ ]:
csv_df["year"]=csv_df["CLEAN_TIME"]
csv_df["year"]=csv_df["year"].map(lambda x: str(x)[:-3])
csv_df.head()

In [ ]:
csv_df["Quarter"]=csv_df["CLEAN_TIME"].map(lambda x: str(x)[2:])
csv_df.head()

In [ ]:
csv_df["By_Quarer"]=csv_df["Quarter"]+csv_df["year"]
csv_df.head()

USE CODE BELOW

In [2]:
# condensed code======================================
csv_file = "./ETLProject/btc-API.csv"
csv_df = pd.read_csv(csv_file)

csv_df["CLEAN_TIME"] = csv_df["time_period_end"].map(lambda x: str(x)[:-21])

csv_df["CLEAN_TIME"] = csv_df["CLEAN_TIME"].str.replace('-04',"Q1'")
csv_df["CLEAN_TIME"] = csv_df["CLEAN_TIME"].str.replace('-07',"Q2'")
csv_df["CLEAN_TIME"] = csv_df["CLEAN_TIME"].str.replace('-10',"Q3'")
csv_df["CLEAN_TIME"] = csv_df["CLEAN_TIME"].str.replace('-01',"Q4'")

csv_df["CLEAN_TIME"] = csv_df["CLEAN_TIME"].map(lambda x: str(x)[2:])

csv_df["year"]=csv_df["CLEAN_TIME"]
csv_df["year"]=csv_df["year"].map(lambda x: str(x)[:-3])

csv_df["Quarter"]=csv_df["CLEAN_TIME"].map(lambda x: str(x)[2:])

csv_df["By_Quarer"]=csv_df["Quarter"]+csv_df["year"]
csv_df.head()

,Unnamed: 0,price_close,price_high,price_low,price_open,time_close,time_open,time_period_end,time_period_start,trades_count,volume_traded,CLEAN_TIME,year,Quarter,By_Quarer
0,0,0.06190,0.1750,0.03211,0.04951,2010-09-30T22:49:52.0000000Z,2010-07-17T23:09:17.0000000Z,2010-10-01T00:00:00.0000000Z,2010-07-01T00:00:00.0000000Z,2665,4.704097e+05,10Q3',10,Q3',Q3'10
1,1,0.30000,0.5000,0.01000,0.06189,2010-12-31T21:36:52.0000000Z,2010-10-01T02:56:13.0000000Z,2011-01-01T00:00:00.0000000Z,2010-10-01T00:00:00.0000000Z,6092,2.195828e+06,11Q4',11,Q4',Q4'11
2,2,0.78461,1.1000,0.28900,0.29200,2011-03-31T23:44:15.0000000Z,2011-01-01T01:16:13.0000000Z,2011-04-01T00:00:00.0000000Z,2011-01-01T00:00:00.0000000Z,8406,9.883464e+05,11Q1',11,Q1',Q1'11
3,3,16.10096,31.9099,0.56190,0.77800,2011-06-30T23:59:41.0000000Z,2011-04-01T00:28:54.0000000Z,2011-07-01T00:00:00.0000000Z,2011-04-01T00:00:00.0000000Z,205917,3.173722e+06,11Q2',11,Q2',Q2'11
4,4,5.14009,16.7400,4.18000,16.10098,2011-09-30T23:59:04.0000000Z,2011-07-01T00:00:59.0000000Z,2011-10-01T00:00:00.0000000Z,2011-07-01T00:00:00.0000000Z,536900,3.814916e+06,11Q3',11,Q3',Q3'11